/*VARIABLES*/
$blue-color: #4769FF;
$blue-color-2: #B5C2FF;
$blue-border-bg: #D6DDFF;
$blue-color-4: #E9EDFF;
$light-blue-bg-color: #F6F8FF;

$light-gray-color: #8C8C8C;
$dark-gray-color: #5D5D5D;
$blue-border: 1px solid #D6DDFF;
$yellow-color:#EFC300;
